# Common Python operators

In [ ]:
a = 20
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # floor division
print(a % b) # modulus
print(a**b) # exponential

23
17
60
6.666666666666667
6
2
8000

Assigment operators

In [1]:
x = 7
x += 3 # same as x = x + 3
print(x)
x -= 3 # same as x = x - 3
print(x)
x *= 3 # same as x = x * 3
print(x)

10
7
21

# If ... Else statement

In [ ]:
# Example 0 

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
# Example 1

a = 2.5
b = 1

if a == b and b != 0.0:
    print(a)
elif a < b or a == 5:
    print(a+b)
elif a > b and b > 0.0:
    print(a-b)
else:
    pass

1.5

In [ ]:
# Example 2
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# Python Loops

**WHILE**

In [1]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

**FOR**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
	if x == "apple":
		continue
	print(x)

banana
cherry

The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6): 
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 35, 5): # range values from 2 to 35 (but not including 35) with increment of 5
  print(x)

2
7
12
17
22
27
32

# Iterable and Loops

**Enumerate()** is used with a list called l1. It first prints tuples of index and element pairs. Then it changes the starting index while printing them together. Finally, it prints the index and element separately, each on its own line.

In [2]:
l1 = ["eat", "sleep", "repeat"]

# printing the tuples in object directly
for ele in enumerate(l1):
    print (ele)

# changing starting counter index and printing separately
for count, ele in enumerate(l1, 100):
    print (count, ele)

# getting desired output from tuple
for count, ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

Loop over two arrays in parallel with the **zip()** function

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterables have different lengths, the iterable with the least items decides the length of the new iterator.

In [3]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

for i in x:
    print(i)

('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')

In [11]:
l1 = [1, 3, 5, 7, 9]
l2 = [2, 4, 6, 8, 10]

for x,y in zip(l1,l2):
    print(x, y)

print("\n")

l1 = [1, 25, 25, 65, 34, 2, 4, 63]
l2 = [2, 4, 61, 8, 10]

for x,y in zip(l1,l2):
    z = max(x,y)
    print(z)

1 2
3 4
5 6
7 8
9 10


2
25
61
65
34